
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'newApp:home' %}">Home</a></li>
            <li><a href="{% url 'newApp:about' %}">About</a></li>
            <li><a href="{% url 'newApp:contact' %}">Contact</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    
</body>
</html>